{% extends "trackerapp/base.html" %}
{% load materializecss %}

{% block content %}
<h4 class="center-align page-heading">New income</h4>
<div class="row card-panel grey lighten-5">
    <div class="col s12 l8 offset-l2">
        <form method="POST" action="{% url 'add_income' %}">
            {% csrf_token %}
            {{ form|materializecss }}
            <div class="col s12 center-align">
                <button type="submit" class="btn-large red lighten-1">
                    Add <i class="fas fa-plus-square right"></i>
                </button>
            </div>            
        </form>
    </div>
</div>
{% endblock %}