{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Expense Tracker | Manage your finances and gain insights into your spending habits.">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'trackerapp/css/style.css' %}" type="text/css">

    <title>Expense Tracker</title>
</head>

<body>
    <header>
        <!-- top navbar -->
        <nav class="teal accent-4">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Expense Tracker</a>
                <ul class="right">
                    <li><a href="{% url 'index' %}" title="Home"><i class="material-icons">home</i></a></li>
                    <li><a href="{% url 'categories' %}"><i class="material-icons"title='Categories'>style</i></a></li>
                    <li><a href="{% url 'accounts' %}"><i class="material-icons" title="Accounts">account_balance_wallet</i></a></li>
                    <li><a href="#"><i class="material-icons" title="Profile">person</i></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">

        {% block content %}
        {% endblock %}

    </main>

    <footer class="page-footer teal accent-4">
        <div class="footer-copyright">
            <div class="container">
                <p>© Copyright | All rights reserved <span id='copyright'></span></p>
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                <!-- <a href="#"><i class="fa-brands fa-square-github small right"></i></a> -->
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.3.slim.js"
        integrity="sha256-DKU1CmJ8kBuEwumaLuh9Tl/6ZB6jzGOBV/5YpNE2BWc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/624b5d3773.js" crossorigin="anonymous"></script>
    <script src="{% static 'trackerapp/js/script.js' %}"></script>

</body>
</html>