{% extends "trackerapp/base.html" %}

{% block content %}
<h4 class="center-align page-heading">Add new ctegory</h4>
<div class="row card-panel grey lighten-5">
    <form class="col s12 l8 offset-l2" method="POST" action="{% url 'categories_add' %}">
        {% csrf_token %} 
    <!-- hidden field to retrieve previous page -->
    <input type="hidden" id="previous_page" name="previous_page">
        {{ form.category_name }}     
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large red lighten-1">
                    Add <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<!-- set value of 'previous_page' -->
<script>
    prev = document.getElementById("previous_page");
    prev.value = document.referrer;
</script>
{% endblock %}

