{% extends "trackerapp/base.html" %}

{% block content %}

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST">
        {% csrf_token %} 
        {{ form.category_name }}
     
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Update<i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}