{% extends "trackerapp/base.html" %}

{% block content %}

<div class="row">
    <div class="col s12 m6">

        <p>chart placeholder</p>

    </div>
    <div class="col s12 m6">

        {% for transaction in transactions %}
        <ul>
            <li>{{ transaction }}</li>
        </ul>
        {% endfor %}

        <a class="btn-floating btn-large waves-effect waves-light red" href="/add_expense"><i class="material-icons">remove</i></a>
        <a class="waves-effect teal accent-4 btn-large" href="/transactions">Balance {{ balance }}</a>
        <a class="btn-floating btn-large waves-effect waves-light red" href="/add_income"><i class="material-icons">add</i></a>
    </div>
</div>



<!-- Modal -->
<!-- <div id="modal1" class="modal">
    <div class="modal-content">
        <h4>New expense</h4>
    

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Choose Category</a>
    </div>
</div> -->

{% endblock %}