{% extends "trackerapp/base.html" %}

{% block content %}
<div class="row">
    <!-- select month -->
    <!-- <div class="input-field col s12 m4 offset-s8"> -->
    <div class="input-field col s12">
        <form method="post" class="right">
            {% csrf_token %}
            <label for="month">Select month:</label>
            <div class="month-filter">
                <select id="month" name="month">
                    {% for month_number, month_name in month_choices %}
                    <option value="{{ month_number }}">{{ month_name }}</option>
                    {% endfor %}
                </select>
                <button class="btn waves-effect waves-light teal accent-4" type="submit">
                    <i class="material-icons">filter_alt</i>
                </button>
            </div>
        </form>
    </div>

    <!-- transactions for selected month -->
    <div class="col s12 center-align">
        <h5><i class="fa-solid fa-calendar-days teal-text text-accent-4"></i> Reviewing your transactions for:</h5>
        <h5 class="teal-text text-accent-4"><strong>{{ selected_month }}</strong></h5>
        <div class="centered-box">
            <ul class="left-aligned transaction-list">
                {% for expense in transactions %}

                {% if expense.transaction_type == 'Income' %}
                <li>
                    <span class="date-display">{{ expense.transaction_date|date:'d M' }}                    
                    </span> <i class="fa-solid fa-sack-dollar"></i> {{ expense }} <span class="notes">{{ expense.notes }}</span>
                </li>
                {% else %}
                <li>
                    <span class="date-display">{{ expense.transaction_date|date:'d M' }}                    
                    </span> <i class="fa-solid fa-tag fa-rotate-90"></i> {{ expense }} <span class="notes">{{ expense.notes }}</span>
                </li>
                {% endif %}

                <!-- <li>{{ expense }}</li> -->
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}