@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Quicksand:wght@400;600&display=swap");
body {
  background-color: #ffffff;
  color: #262626;
  font-size: 1rem;
  font-family: Quicksand, sans-serif;
}

nav {
  background-color: #ffffff;
}
nav .nav-wrapper {
  padding-left: 1.2em;
  padding-right: 1.2em;
}
nav i {
  color: #26a69a;
}
nav .brand-logo {
  color: #262626;
  font-weight: 600;
}
nav ul a {
  color: #262626;
  font-weight: 600;
}

.container {
  padding-block: 8em;
}
.container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .row .img-container {
  position: relative;
}
.container .row .img-container img {
  display: block;
}
.container .row .img-container .overlay {
  position: absolute;
  inset: 0;
  opacity: 0.2;
  background-color: #00bfa5;
}
.container .row .main-text {
  font-weight: 600;
  font-size: 2rem;
  color: #26a69a;
}
.container .row button {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 10px 40px;
  border-radius: 30px;
  border: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  margin-block: 1.5em;
}
.container .row button:hover {
  background-color: #00bfa5;
}