@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Quicksand:wght@400;600&display=swap');

/* font-family: 'Merienda', cursive;
font-family: 'Quicksand', sans-serif; */

html {
  height: 100%;
}
/* Materialize sticky footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /* font-family: Quicksand, sans-serif; */
  }

  nav .nav-wrapper {
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.welcome-msg {
  margin-right: 10px;
  color: #262626;
  font-size: .9rem;
  font-style: oblique;
}

  main {
    flex: 1 0 auto;
    min-height: 400px;
  }


/* -----------------GENERAL STYLING*/

.brand-logo {
  font-family: Merienda, sans-serif;    
  margin-left: 10px;
}


.transaction-container {  
  display: flex;  
  justify-content: space-around;
}


.transaction-list li {
  margin-bottom: 20px;
}


.transaction-list i {
  margin-right: 5px;
} 


.page-heading {
    margin-bottom: 5%;
    font-family: Merienda, sans-serif;  
}


.btn-large {
  text-transform: none;  
}


.month-style {
  font-family: Merienda, sans-serif;
}

.footer-link {
  font-size: 13px;
  font-style: oblique; 
}

/* -----------------MAIN PAGE */

.custom-btn {
  background-color: #ffffff;
  color: #262626;
  border: 2px solid #1de9b6;
  border-radius: 12px;
}


.button-box {
  display: flex;  
  justify-content: center;  
}


.button-box a {
  margin-left: 3px;
  margin-right: 3px;
}


/* -----------------FILTER PAGE */

/* month filter */
.month-filter {
  display: flex;
  align-items: center;  
}


.month-filter button {
  margin-left: 15px;
}


/* transaction list */
.centered-box {
  display: flex;
  justify-content: center;
}


.left-aligned li {
  text-align: left;
}


.date-display {
  margin-right: 20px;
  font-size: smaller;
  font-style: oblique;
  color: #666666
}


.notes {
  margin-left: 20px;
  font-size: smaller;
  font-style: oblique;  
  color: #666666
}

/* -----------------FOOTER */

.copyright-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: .8rem;
  font-weight: 600;
}

/* -----------------FLASH MESSAGE */
.messages {
  list-style: none;
  padding: 10px;
  margin: 10px 0;
}

#flash-message {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
}

.success {
  background-color: #e0f2f1;
  color: #004d40;
}


/* -----------------media queries */
@media screen and (max-width: 600px) {
  nav .brand-logo {
    font-size: 1.4rem;
  }
}

