{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Expense Tracker | Manage your finances and gain insights into your spending habits.">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    {% block head %}{% endblock %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <title>Expense Tracker</title>
</head>

<body>
    <header>
        <!-- top navbar -->
        <nav class="teal accent-4">
            <div class="nav-wrapper">
                <a href="{% url 'index' %}" class="brand-logo">Expense Tracker</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'index' %}" title="Home"><i class="material-icons">home</i></a></li>
                    <li><a href="{% url 'categories' %}"><i class="material-icons" title='Categories'>style</i></a></li>

                    {% if user.is_authenticated %}
                    <li><span><em>Welcome, {{ user.username }}</em></span></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup'%}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- mobile collapse button -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'categories' %}">Categories</a></li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup'%}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </header>

    <main class="container">
        <!-- flash message -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li id="flash-message" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer teal accent-4">        
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                  <h6 class="white-text">Getting Started Videos:</h6>
                  <ul class="left">
                    <li><a class="grey-text text-lighten-3 footer-link" href="https://youtu.be/Ntu3OElXlpQ" target="_blank">Getting Started: Add transactions</a></li>
                    <li><a class="grey-text text-lighten-3 footer-link" href="https://youtu.be/ed53cVTcNc4" target="_blank">Getting Started: Detailed transactions view</a></li>
                    <li><a class="grey-text text-lighten-3 footer-link" href="https://youtu.be/bUmBoTWQk0c" target="_blank">Getting Started: Category list</a></li>                    
                  </ul>               
                </div>                
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <p class="center-align">© Copyright | All rights reserved <span id='copyright'></span></p>
            </div>
        </div>
    </footer>     

    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/624b5d3773.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>