@mixin buttons {
    text-decoration: none;
    color: #fff;
    background-color: $primary-color-dark;
    text-align: center;
    letter-spacing: .5px;
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    

    &:hover {
        background-color: $primary-color;;
    }
} 