// -------------------------------- colors
$body-background-color: #ffffff;
$primary-color: #00bfa5;
$primary-color-dark: #26a69a;
$primary-text-color: #262626;
$text-color-light: #ffffff;

// -------------------------------- fonts
$text-font: Quicksand, sans-serif;
$header-font: Merienda, sans-serif;

// -------------------------------- sizes

