
/* footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .custom-btn {
    background-color: #ffffff;
    color: #262626;
    border: 2px solid #1de9b6;
    border-radius: 12px;
  }

.button-box {
  display: flex;  
  justify-content: center;  
}

.button-box a {
  margin-left: 3px;
  margin-right: 3px;
}

.transaction-container {  
  display: flex;  
  justify-content: space-around;
}

.transaction-list li {
  margin-bottom: 20px;
}

.brand-logo {
  margin-left: 10px;
}

.month-filter {
  display: flex;
  align-items: center;  
}

.month-filter button {
  margin-left: 15px;
}