{% extends "trackerapp/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <h4 class="center-align">{% trans "Sign In" %}</h4>
      <p>{% blocktrans %}Ready to dive in? If you haven't created an account yet, now's the perfect time to
        <a href="{{ signup_url }}">sign up</a>. {% endblocktrans %}
      </p>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="center-align">
          <button class="waves-effect waves-light btn btn-small" type="submit">{% trans "Sign In" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}