{% extends "trackerapp/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row center-align">
    <div class="col s8 offset-s2">
      <h4>{% trans "Sign Out" %}</h4>
      <p>{% trans 'Are you sure you want to sign out?' %}</p>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div>
          <button class="waves-effect waves-light btn btn-small" type="submit">{% trans 'Sign Out' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}